?<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<!-- renseigner ici les chroniqueurs qui ont accepté le deal, en séparant par '|' -->
	<add key="Reviewers" value="" />
	<!-- renseigner ici le répertoire du FTP MI qui acceuille les xmls des chroniques -->
	<add key="DeezerDir" value="xmls" />
	<add key="MigrationDir" value="Migration" />
	<add key="FieldsExtractionsDir" value="Extractions" />
	<add key="SQLPath" value="SQL" />
 
	<add key="DictionnariesPath" value="D:\Perso\Mi\Dictionnaires" />
	
	<!-- Ne rien toucher là dessous!! -->
	<!-- Valeurs acceptées : SQL-SSPI, MYSQL, CSV, XML -->
   <add key="DefaultSourceFile" value="D:\Perso\Mi\mi_reviews.csv"/>
   <!-- Valeurs acceptées : FTP, FILE -->
   <add key="DefaultDest" value="FILE"/>
   <add key="DefaultDestFile" value="D:\Perso\Mi"/>
   <add key="DefaultDestFTPDirectory" value="metal-impact.com/web/"/>
   <add key="DefaultDestFTPUser" value="metalimpact"/>
   <add key="DefaultDestFTPPassword" value="impact256"/>
   <add key="LastUpdateDate" value="22/04/2010"/> 
   <add key="DefaultOperations" value="0010000"/>
   <add key="MinErrorLevelLogged" value="1"/>
 </appSettings>
</configuration>